* {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

table {
    position: relative;
    top: 10px;
    left: 10px;
    background-color: aliceblue;
    font-family: "Times New Roman", Times, serif;
    width: 90%;
    border: 1px solid rgb(0, 12, 41);
    border-collapse: collapse;
}

tbody {
    overflow: scroll;
}

.TableDes {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    padding: 24px 12px;
}

/* Mission Statement */
#mission {
    position: relative;
    display: inline;
    float: right;
}

/* Logo */
#logo {
    position: relative;
    display: inline;
    float: right;
    width: 190px;
    height: 80px;
}

.strikeout {
    text-decoration: line-through;
    color: #555555;
    background-color: #EEEEEE;
}